# Import 2 databases as dataframes 
## Merge 2 dataframes to become a 3rd working dataframe

- Check the structure of each dataframe before merge - ensure there is a column to facilitate the merge by changing the title of a column to ensure a match
- Check shape of dataframe before & after merge, eg. columns, names, nulls, duplicates etc

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_excel("1. Age standardised disease mortality rates 2019.xlsx")

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4284 entries, 0 to 4283
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   location_id            4284 non-null   int64
 1   location_name          4284 non-null   object
 2   cause_id               4284 non-null   int64
 3   cause_name             4284 non-null   object
 4   female_mortality_rate  4284 non-null   float64
 5   male_mortality_rate    4284 non-null   float64
 6   both_mortality_rate    4284 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 234.4+ KB

In [5]:
df1.rename(columns={"location_name":"country"}, inplace=True)

In [6]:
df1.head()

,location_id,country,cause_id,cause_name,female_mortality_rate,male_mortality_rate,both_mortality_rate
0,160,Afghanistan,491,Cardiovascular diseases,615.934788,550.691191,583.214518
1,160,Afghanistan,508,Chronic respiratory diseases,69.046567,66.415068,67.824346
2,160,Afghanistan,974,Diabetes and kidney diseases,110.725835,71.613741,92.051132
3,160,Afghanistan,526,Digestive diseases,53.304355,52.371521,52.724391
4,160,Afghanistan,957,Enteric infections,10.093985,9.229436,9.652051

In [7]:
df2 = pd.read_excel("2. Global health expenditure 2019.xlsx")

In [ ]:
# df3 = pd.read_csv("2. Global health expenditure 2019.csv") 
# not sure why, but reading in df as csv doesn't work here

# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 1699: invalid continuation byte

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       192 non-null    object
 1   code          192 non-null    object
 2   region        192 non-null    object
 3   income        192 non-null    object
 4   year          192 non-null    int64
 5   che_gdp       189 non-null    float64
 6   che_pc_usd    189 non-null    float64
 7   che           189 non-null    float64
 8   gghed_pc_usd  189 non-null    float64
 9   pvtd_pc_usd   189 non-null    float64
 10  oop_pc_usd    189 non-null    float64
 11  ext_pc_usd    169 non-null    float64
 12  gdp_pc_usd    189 non-null    float64
 13  gdp           189 non-null    float64
 14  gge           189 non-null    float64
 15  ppp           189 non-null    float64
 16  xrt           192 non-null    float64
 17  gdpd          192 non-null    float64
 18  pop           189 non-null    float64
 19  che_usd       189 non-null    float64
 20  gghed_usd     189 non-null    float64
 21  pvtd_usd      189 non-null    float64
 22  ext_usd       169 non-null    float64
dtypes: float64(18), int64(1), object(4)
memory usage: 34.6+ KB

In [9]:
# Merge df1 and df2 on the 'country' column
merged_df = pd.merge(df1, df2, on='country', how='left')

# Forward fill the NaN values in the additional columns from df2
additional_columns = df2.columns.difference(df1.columns)  # Get additional columns from df2
merged_df[additional_columns] = merged_df.groupby('country')[additional_columns].ffill()

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html

In [10]:
merged_df

,location_id,country,cause_id,cause_name,female_mortality_rate,male_mortality_rate,both_mortality_rate,code,region,income,...,gdp,gge,ppp,xrt,gdpd,pop,che_usd,gghed_usd,pvtd_usd,ext_usd
0,160,Afghanistan,491,Cardiovascular diseases,615.934788,550.691191,583.214518,AFG,EMR,Low,...,1.469596e+06,411473.000000,17.949684,77.737946,92.26181,37769.4985,2803.784983,93.965899,2153.821873,555.997185
1,160,Afghanistan,508,Chronic respiratory diseases,69.046567,66.415068,67.824346,AFG,EMR,Low,...,1.469596e+06,411473.000000,17.949684,77.737946,92.26181,37769.4985,2803.784983,93.965899,2153.821873,555.997185
2,160,Afghanistan,974,Diabetes and kidney diseases,110.725835,71.613741,92.051132,AFG,EMR,Low,...,1.469596e+06,411473.000000,17.949684,77.737946,92.26181,37769.4985,2803.784983,93.965899,2153.821873,555.997185
3,160,Afghanistan,526,Digestive diseases,53.304355,52.371521,52.724391,AFG,EMR,Low,...,1.469596e+06,411473.000000,17.949684,77.737946,92.26181,37769.4985,2803.784983,93.965899,2153.821873,555.997185
4,160,Afghanistan,957,Enteric infections,10.093985,9.229436,9.652051,AFG,EMR,Low,...,1.469596e+06,411473.000000,17.949684,77.737946,92.26181,37769.4985,2803.784983,93.965899,2153.821873,555.997185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4279,198,Zimbabwe,717,Self-harm and interpersonal violence,15.232540,56.302906,33.752820,ZWE,AFR,Lower-middle,...,2.603200e+04,3047.677443,0.761061,1.000000,94.30666,15354.6075,841.563110,120.051500,200.289108,521.222499
4280,198,Zimbabwe,653,Skin and subcutaneous diseases,3.325473,3.157042,3.310796,ZWE,AFR,Lower-middle,...,2.603200e+04,3047.677443,0.761061,1.000000,94.30666,15354.6075,841.563110,120.051500,200.289108,521.222499
4281,198,Zimbabwe,973,Substance use disorders,0.616978,3.711733,1.945417,ZWE,AFR,Lower-middle,...,2.603200e+04,3047.677443,0.761061,1.000000,94.30666,15354.6075,841.563110,120.051500,200.289108,521.222499
4282,198,Zimbabwe,688,Transport injuries,12.890358,44.108963,26.819005,ZWE,AFR,Lower-middle,...,2.603200e+04,3047.677443,0.761061,1.000000,94.30666,15354.6075,841.563110,120.051500,200.289108,521.222499
4283,198,Zimbabwe,696,Unintentional injuries,31.645897,66.722352,47.310809,ZWE,AFR,Lower-middle,...,2.603200e+04,3047.677443,0.761061,1.000000,94.30666,15354.6075,841.563110,120.051500,200.289108,521.222499

In [11]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4284 entries, 0 to 4283
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   location_id            4284 non-null   int64
 1   country                4284 non-null   object
 2   cause_id               4284 non-null   int64
 3   cause_name             4284 non-null   object
 4   female_mortality_rate  4284 non-null   float64
 5   male_mortality_rate    4284 non-null   float64
 6   both_mortality_rate    4284 non-null   float64
 7   code                   3969 non-null   object
 8   region                 3969 non-null   object
 9   income                 3969 non-null   object
 10  year                   3969 non-null   float64
 11  che_gdp                3906 non-null   float64
 12  che_pc_usd             3906 non-null   float64
 13  che                    3906 non-null   float64
 14  gghed_pc_usd           3906 non-null   float64
 15  pvtd_pc_usd            3906 non-null   float64
 16  oop_pc_usd             3906 non-null   float64
 17  ext_pc_usd             3507 non-null   float64
 18  gdp_pc_usd             3906 non-null   float64
 19  gdp                    3906 non-null   float64
 20  gge                    3906 non-null   float64
 21  ppp                    3906 non-null   float64
 22  xrt                    3969 non-null   float64
 23  gdpd                   3969 non-null   float64
 24  pop                    3906 non-null   float64
 25  che_usd                3906 non-null   float64
 26  gghed_usd              3906 non-null   float64
 27  pvtd_usd               3906 non-null   float64
 28  ext_usd                3507 non-null   float64
dtypes: float64(22), int64(2), object(5)
memory usage: 970.7+ KB

In [12]:
merged_df.to_csv('~/Desktop/Merged global age standardized mortality & health spending.csv', index=False)

In [13]:
merged_df.isnull().sum()  #number of missing values per column, could use  merged_df.isna().sum()
# merged_df.isnull().any() OR merged_df.isna().any() could be used for True/False (Boolean)

location_id                0
country                    0
cause_id                   0
cause_name                 0
female_mortality_rate      0
male_mortality_rate        0
both_mortality_rate        0
code                     315
region                   315
income                   315
year                     315
che_gdp                  378
che_pc_usd               378
che                      378
gghed_pc_usd             378
pvtd_pc_usd              378
oop_pc_usd               378
ext_pc_usd               777
gdp_pc_usd               378
gdp                      378
gge                      378
ppp                      378
xrt                      315
gdpd                     315
pop                      378
che_usd                  378
gghed_usd                378
pvtd_usd                 378
ext_usd                  777
dtype: int64

In [14]:
merged_df.duplicated().sum()

0

In [15]:
merged_df.drop(columns = "year", inplace = True) #year column dropped from dataframe

In [ ]:
merged_df.info()